body{
margin: 0;
text-align: center;
font-family: 'Merriweather', cursive;


}


.top-container{
  background-color: #E4F9F5;
position: relative;
padding-top: 100px;
}
.skills{

  width: 28%;
  margin: 50px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.skill-row{

width: 28%;
margin: 0 auto 150px auto;
text-align: left;
line-height: 2;
}




h3{
  padding: 0 0 0;
  margin: 0;
  font-size: 1.5em;
  color: #45b29a;
  font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
          font-weight: 500;
          line-height: 1.1;

}



.roman{
  font-family: 'Sacramento',sans-serif;
  font-size: 100px;


}




.cloud-right{
  position: absolute;
  right: 100px;
  top:25px;
}

.cloud-left{

left: 4em;
bottom: 25em;
position: absolute;
width: 150px;
height: 45px;
transition: all is ease-in-out;
z-index: 980;

}
p{
  font-family:'Montserrat' sans-serif;
  font-size: 30px;

}

.image-bubble{
  border-radius: 30%;

}
.image-break{
  height: 6px;
  border-color: grey;
  border-width: 5px;
  border-style: dotted none none;
  width: 5%;

}

.what_image-bubble{

border-radius: 30%;
width: 22%;
float: left;
margin: 30px;

}
.image-bubble_develop{

  width: 28%;
  float: right;
  border-radius: 100%;
  margin-left: 20px;
}




.hi_info_can{
  font-weight: 500;
  line-height: 2;
  color:grey;
  font-size: 15px;
}


.hi{

  text-align: center;
  padding: .5em 0;
  font-size: 2em;
  color: #45b29a;

}




.middle-container{
  background-color: #FDFEFE  ;
position: relative;



}
.hi_info{
  font-weight: 500;
  line-height: 2;
  color:grey;
  font-size: 18px;
}





.what_can{

  color: #1e836c;
    text-align: center;
    font-size: 2.5em;

    padding: .5em 0;
    font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: 500;
    line-height: 1.1;
}

.hi_break{
  height: 6px;
  border-color: #B8B8B8;
  border-width: 5px;
  border-style: dotted none none;
  width: 5%;

}
.what_image{

  left: 100px;
  border: 0;
  right: 100px;
}


.hi_break_develop{
  height: 6px;
  border-color: grey;
  border-width: 5px;
  border-style: dotted none none;
  width: 5%;
  position: absolute;
  top: 1650px;
  left: 1020px;

}

.hi_info_develop{
  font-weight: 500;
  line-height: 2;
  color:grey;
  font-size: 15px;

}

.help{

  color: #1e836c;
    text-align: center;
    font-size: 2.8em;
    font-weight: 400;
    font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;

}

.btn{

  background-color:#45b29a;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover{

  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.bottom-container{
  background-color: #c5ded7;
  padding: 50px 0 20px;
}

.footer-facebook{

  text-align: center;
  text-decoration: none;
  color: #45b29a;
  font-size: 1.5em;
  font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  line-height: 1.42857143;


}

.footer-facebook:hover {
  color: #EAF6F6;
}


.footer-twitter{

  text-align: center;
  text-decoration: none;
  color: #45b29a;
  font-size: 1.5em;
  font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  line-height: 1.42857143;
  display: inline-block;
  margin-left: 50px;

}

.footer-twitter:hover {
  color: #EAF6F6;
}

.copyright{

  text-align: center;
      color: #45b29a;
      font-size: 1em;
      font-weight: 400;
      font-family: adobe-garamond-pro,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}
